*{
    box-sizing:border-box;
}

h2,h3{
    margin:0;
}

body{
    background-color:#cf4520;
    font-family:sans-serif;
    margin:20px 0px;
}

.wrapper{
    background-color:white;
    width:800px;
    margin:0 auto;
    border-radius: 10px;
}

header{
    padding: 50px;
    overflow:hidden;
    background-color:white;
}

header > #logo{
    font-size:2em;
}

nav{
    float:right;
}

#logo{
    float:left;
}

#big-image{
    position:relative;
}

main{
    padding:50px;
    overflow:hidden;
}

section{
    float:left;
    width:70%;
}

aside{
    float:right;
    width:30%;
    background-color: rgb(224, 224, 23);
}

img{
    image-orientation: from-image;
}


footer{
    padding:20px;
    text-align:center;
    border-top:1px solid #ccc;
    bottom:0px;
    background-color:white;
    border-radius:10px;
}

.contact{
    background-color:yellow;
    align-content: center;
}