body{
    text-align:center;
    margin:0;
    background-color:#a4d1c8;
}

a{
    color:#a4d1c8;
    text-decoration:none;
    margin:20px;
}

a:hover{
    color:#537d91;
}

h1{
    background-color:#537d91;
    color:#f77754;
    font-family: 'Dancing Script', cursive;
    font-size:5.625rem;
    margin-top:0;
    
}

p{
    color:#a537d91;
}



.header{
    position:sticky;

}

.footer{
    background-color:#584b42;
    padding:20px;
}

.copyright{
    color:white;
}